
#skills{
    background-color: #353935;
}

.skillscontent{
    display: flex;
    gap:3rem;
}

.servicecard{
background-color: #343434;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.servicecardimage img{
    border-radius: 50%;
}

.servicecardtext p:nth-of-type(2){
    color:#6e07f5;
    font-weight: 500;
    font-size: 1.5rem;
}



@media (max-width:800px){
        #skills{
            padding-top:2rem;
        }
    .skillscontent{
        display:flex;
        flex-direction: column;
        gap:3rem;
    }
}