@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}


.container{
  width: 80%;
  margin:0 auto;
}



.projectcontent{
  display: grid;
  grid-template-columns: auto auto;
  gap:1.5rem;
 }

 .projectcardimage, .projectcardimage img{
  height: 100%;
}

